<div class="jumbotron">
	<h1>Lunchinator&trade;</h1>

	<p>
		Welcome to the Lunchinator&trade;!
		<ul>
			<li>
				Check out all the
            {{#link-to 'places'}}places to eat lunch in the database{{/link-to}}
			</li>
			<li>
				Or {{#link-to 'users'}}all the cool people that eat lunch we have on file{{/link-to}}
			</li>
		</ul>
	</p>
	<p>
		<a href="http://shhquiet.github.io/lunch">Visit the server project on GitHub here</a>
	</p>
	<p>
		<a href="http://shhquiet.github.io/lunch-client">Or, visit the client project here</a>
	</p>
</div>