<div class="well">
    <h1>new place</h1>

    <form role="form">
        <div class="form-group">
            <label>
                Name
                {{input placeholder="Place name" value=name class="form-control"}}
            </label>
        </div>
        <button {{action save}} class="btn btn-default">Save</button>
    </form>
</div>