<div class="well">
    <h1>{{name}}</h1>
    {{#if thumbnailUrl}}
        <img {{bind-attr src=thumbnailUrl}}>
    {{/if}}
    <p>{{username}}</p>
    <hr/>
    {{#linkTo 'user.edit' model}}Change{{/linkTo}}

    {{outlet}}

</div>
