<h1>new user</h1>

<form role="form">
	<div class="form-group">
		<label>
			Name
			{{input placeholder="User's name" value=name class="form-control"}}
		</label>
	</div>
	<button {{action save}} class="btn btn-default">Save</button>
</form>